@page
@model FourWheels.web.Pages.CreateAO

@{
    Layout = "Shared/_Layout";
}

<form method="post">
    <div class="form-group">
        <label asp-for="ValgteBil"></label>
        <select asp-for="ValgteBil" asp-items="Model.Biler">
            
        </select>
        <span class="text-danger" asp-validation-for="ValgteBil"></span>
    </div>
</form>
