@page
@model FourWheels.web.Pages.Shared.Details
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
  <hr>
  <div class="row">
    <div class="col-6">
      <h1>BK 20 515</h1>
    </div>
      <div class="col-6">
      <h1>Skoda Citigo 1,0</h1>
      </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="media">
        <img class="mr-3" src="images/115X115.gif" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">Skal udføres:&nbsp;</h5>
          <p> - 50.000 km service<br>
          - Bremseeftersyn</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="row justify-content-md-around m-1">
        <address>
          <strong>Jan Andreasen</strong><br>
          Tved 128<br>
          6270 Tønder<br>
          <abbr title="Phone">T:</abbr> &nbsp;2213 8860<br>
          <a href="mailto:#">jan@tved.me</a>
        </address>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>Historik</h2>
      <hr>

      <h5><span class="badge badge-secondary">40.000 km service</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>

      <h5><span class="badge badge-secondary">30.000 km service</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>Servicehistorik</h2>
      <hr>
      <div class="progress mt-4">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> 40.000 km service</div>
      </div>
      <div class="progress mt-4">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> 30.000 km service</div>
      </div>
      <div class="progress mt-4">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> Synstjek</div>
      </div>
      <div class="progress mt-4">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> Tilbagekaldelse, trækkrog</div>
      </div>
    </div>
  </div>
  <hr>
  <h2>Tidligere arbejde&nbsp;</h2>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-5">
          <h4>Mekaniker Bob</h4>
        </div>
        <div class="col-6">
          <h5 class="text-right"><span aria-hidden="true"></span> Jan 2020</h5>
        </div>
      </div>
      <h5><span class="badge badge-secondary">Almindelig service</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet, consectetur.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-5">
          <h4>Mekaniker Bent</h4>
        </div>
        <div class="col-6">
          <h5 class="text-right"><span aria-hidden="true"></span> Jan 2021</h5>
        </div>
      </div>
      <h5><span class="badge badge-secondary">Almindelig service</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet, consectetur.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
      </ul>
    </div>
  </div>
  <hr>
</div>